{% extends "base.html" %}

{% block title %}
Page Not Found
{% endblock %}

{% block content %}

<section class="page-header">

    <div class="container">

        <p class="eyebrow">
            ERROR 404
        </p>

        <h1>
            Page not found
        </h1>

        <p>
            The page you are looking for does not exist
            or may have been moved.
        </p>

        <a
            href="{% url 'home' %}"
            class="button"
        >
            Return Home
        </a>

    </div>

</section>

{% endblock %}